<a href="https://colab.research.google.com/github/dvcm/.github.io/blob/main/Exercicios_EBAC_30_6_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = 'Olá Mundo!'

apresentacao = f' {nome}'
print(apresentacao)

Dia Valor Total Vendas Qtd Total Vendas Ticket Medio

19/01 (0.009359790340696368) 3 320.52

20/01 834.47 (0.025165674020635853) 119.21

23/01 15378.12 5 (3075.6240000000003)

In [ ]:
svv_19 = 3
sqv_19 = 320.52

tkt_19 = svv_19 / sqv_19
print(tkt_19)

In [ ]:
svv_20 = 834,47
sqv_20 = 119.21

tkt_20 = svv_19 / sqv_20
print(tkt_20)

In [ ]:
svv_21 = 15378.12
sqv_21 = 5

tkt_21 = svv_21 / sqv_21


print(tkt_21)

**2. Números**

Extraia da string abaixo o valor da taxa selic na variável 
selic e o valor do ano na variavel

ano . Imprima os valores na tela.

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'


print(cancao)
print(type(cancao))

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao.upper())

In [ ]:
cancao = "Roda"
x = cancao.center(50)
print(x)

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

x = cancao.find("roda moinho")

print(x)

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

x = cancao.isalnum()

print(x)

In [ ]:
cancao = ("Roda mundo", "roda moinho", "roda piao")

x = "#".join(cancao)

print(x)

In [ ]:
cancao = "Roda"

x = cancao.ljust(20)

print(x, "mundo, roda gigante, roda moinho, roda pião.")

In [ ]:
cancao = "Roda mundo, roda gigante, roda moinho, roda pião."

x = cancao.title()

print(x)

Extraia da string abaixo o valor da taxa selic 
na variável selic e o valor do ano na variavel
ano . Imprima os valores na tela.

**3. Strings**

Usei o metodo slicing ou fatiamento

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; ' + \
 'é a primeira alta em 6 anos.'

noticia_selic = noticia[12:17]  
print(noticia_selic)

noticia_ano = noticia[62:69]  
print(noticia_ano)

apresentacao = f'Variavel Selic = {noticia_selic}, e a variável ano = {noticia_ano}'
print(apresentacao)

**4. Booleanos**

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True
x = not a & b

print(x)