<a href="https://colab.research.google.com/github/dvcm/.github.io/blob/main/Python_M4_support_material04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Arquivos & Funções
Caderno de **Aula**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Leitura;</li>
  <li>Escrita;</li>
  <li>Funções;</li>
  <li>Escopo.</li>
</ol>

---

# **Aulas**

## 1\. Leitura

### **1.1. Configuração inicial**

Vamos utilizar uma função do **Google Colab** para criar arquivos para esse módulo. **Nota**: esse código **não** é do Python e sim da ferramenta.

**Arquivo CSV:** banco.csv

In [1]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco.csv

### **1.2. with / open**

Comando para ler arquivos.

```python
with open(file='<caminho do arquivo>', mode='<modo de leitura>', encoding='<decodificador>') as <apelido>:
  bloco de código
```

Os modos de leitura são:

*   **r**: Abrir o arquivo para leitura (padrão).

### **1.3. read**

Comando para ler todo o conteúdo de um arquivo.

In [2]:
conteudo = None

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  conteudo = arquivo.read()

print(conteudo)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

### **1.4. readline**

Comando para ler o conteúdo de um arquivo uma linha por vez.

In [3]:
conteudo = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline() # lê a primeira linha
  while linha:
    conteudo.append(linha)
    linha = arquivo.readline() # lê uma nova linha, se a linha não existir, salva o valor None

print(conteudo)

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,307,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes']

In [4]:
for linha in conteudo:
  print(linha)

age,job,marital,education,default,balance,housing,loan

30,unemployed,married,primary,no,1787,no,no

33,services,married,secondary,no,4789,yes,yes

35,management,single,tertiary,no,1350,yes,no

30,management,married,tertiary,no,1476,yes,yes

59,blue-collar,married,secondary,no,0,yes,no

35,management,single,tertiary,no,747,no,no

36,self-employed,married,tertiary,no,307,yes,no

39,technician,married,secondary,no,147,yes,no

41,entrepreneur,married,tertiary,no,221,yes,no

43,services,married,primary,no,-88,yes,yes

**Exemplo**: Extraindo os valores da primeira coluna (idade).

In [5]:
idades = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline() # lê o cabeçalho
  linha = arquivo.readline() # lê a primeira linha
  while linha:
    linha_separada = linha.split(sep=',') # quebra a string nas virgulas e salva os resultados em uma lista
    idade = linha_separada[0] # seleciona o primeiro elemento da lista
    idade = int(idade) # converte o valor de string para integer (inteiro)
    idades.append(idade) # salva o valor na lista de idades
    linha = arquivo.readline() # lê uma nova linha, se a linha não existir, salva o valor None

print(idades)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

## 2\. Escrita

### **2.1. with / open**

Comando para ler/escrever arquivos.

```python
with open(file='<caminho do arquivo do arquivo>', mode='<modo de leitura/escrita>', encoding='<decodificador>') as <apelido>:
  bloco de código
```

Os modos de leitura são:

*   **r**: Abrir o arquivo para leitura (padrão);
*   **w**: Abrir o arquivo para escrita (sobreescreve o arquivo original).
*   **a**: Abrir o arquivo para acrescentar (não sobreescreve o arquivo original)

### **2.2. write**

Comando para escrever em um arquivo, se o arquivo não existir, ele será criado.

- Modo de escrita (w).

In [6]:
with open(file='idades.csv', mode='w', encoding='utf8') as fp:
  linha = 'idade' + '\n'
  fp.write(linha)
  for idade in idades:
    linha = str(idade) + '\n'
    fp.write(linha)

 - Modo de acréscimo (a).

In [7]:
with open(file='idades.csv', mode='a', encoding='utf8') as fp:
  for idade in idades:
    linha = str(idade + 100) + '\n'
    fp.write(linha)

**Exemplo**: Copiando um arquivo com uma extensão diferente.

In [8]:
%%writefile banco-texto.txt
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco-texto.txt

In [9]:
with open(file='./banco-texto.txt', mode='r', encoding='utf8') as leitura:
  with open(file='./banco-csv.csv', mode='w', encoding='utf8') as escrita:
    linha = leitura.readline()
    while linha:
      escrita.write(linha)
      linha = leitura.readline()

## 3\. Funções

### **3.1. Motivação**

Você trabalha na bolsa de valores e precisa simular o retorno de um investimento para diversos cenários:

In [10]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}') 

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}')

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos você terá R$ 1628.89
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1370.79

Como podemos fazer para reaproveitar o código e evitar repetições?

### **3.2. Definição**

Um bloco de código que só executado quando chamado.

```python
def <nome>(<param 1>, <param 2>, ...):
  bloco de código
  return <valor de retorno>
```

```python
var = <nome da funcao>(<param 1>, <param 2>, ...)
```

In [11]:
def imprime(mensagem: str):
  print(mensagem)

In [12]:
texto = 'Fala pessoal, meu nome é André Perez!'

In [13]:
imprime(mensagem='Fala pessoal, meu nome é André Perez!')

Fala pessoal, meu nome é André Perez!

### **3.3. Retorno**

Toda função retorna pelo menos um valor, se não específicado, retorna o valor nulo.

In [14]:
def maiusculo(texto: str) -> str:
  text_maiusculo = texto.upper()
  return text_maiusculo

In [15]:
nome = 'André Perez'
print(nome)

nome_maiusculo = maiusculo(texto=nome)
print(nome_maiusculo)

André Perez
ANDRÉ PEREZ

In [16]:
def extrair_usuario_email_provedor(email: str) -> (str, str):
  email_separado = email.split(sep='@')
  usuario = email_separado[0]
  provedor = email_separado[1]
  return usuario, provedor

In [17]:
email = 'andre.perez@gmail.com'
usuario, provedor = extrair_usuario_email_provedor(email=email)
print(usuario)
print(provedor)

andre.perez
gmail.com

### **3.3. Parâmetros**

Parâmetros são os valores que a passamos na chamada da função.

 - Função sem parâmetro:

In [18]:
def pi() -> float:
  return 3.14159265359

In [19]:
pi = pi()
print(pi)

3.14159265359

In [20]:
def imprime_pi() -> None:
  print(3.14159265359)
  return None

In [21]:
imprime_pi()

3.14159265359

 - Função com parâmetro:

In [23]:
def escreve_arquivo_csv(nome: str, cabecalho: str, conteudos: list) -> bool:

  try: 

    with open(file=nome, mode='w', encoding='utf8') as fp:
      linha = cabecalho + '\n'
      fp.write(linha)
      for conteudo in conteudos:
        linha = str(conteudo) + '\n'
        fp.write(linha)

  except Exception as exc:
    
    print(exc)
    return False

  return True

In [24]:
nome = 'idades-funcao-erro.csv'
cabecalho = 'idade'
# conteudos = [30, 33, 35, 30, 59, 35, 36, 39, 41, 43]
conteudos = 10

escreveu_com_sucesso = escreve_arquivo_csv(nome=nome, cabecalho=cabecalho, conteudos=conteudos)
print(escreveu_com_sucesso)

'int' object is not iterable
False

### **3.4. Revisitando a motivação**

In [25]:
def juros_compostos_anual(valor_inicial: float, taxa_juros_anual: float, anos: int) -> float:
  valor_final = valor_inicial
  for ano in range(1, anos+1):
    valor_final = valor_final * (1 + taxa_juros_anual)
  valor_final = round(valor_final, 2)
  print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}') 
  return valor_final

valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos você terá R$ 1628.89
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1370.79

## 4\. Escopo

### **4.1. Definição**

Define o ciclo de vida de uma variável.

 - Escopo de função.

In [26]:
def soma_lista(numeros: list) -> int:
  s = 0
  for numero in numeros:
    s = s + numero
  return s

In [27]:
soma = soma_lista(numeros=[2] * 20)
print(soma)

40

In [28]:
print(s)

NameError: ignored

 - Escopo de estrutura condicional / repetição.

In [29]:
if True:
  x = 100
else:
  w = 50

print(x)

100

ec

In [24]:
%%writefile musica.txt
Roda Viva
Chico Buarque
Tem dias que a gente se sente
Como quem partiu ou morreu
A gente estancou de repente
Ou foi o mundo então que cresceu
A gente quer ter voz ativa
No nosso destino mandar
Mas eis que chega a roda viva
E carrega o destino pra lá
Roda mundo, roda-gigante
Roda moinho, roda pião
O tempo rodou num instante
Nas voltas do meu coração
A gente vai contra a corrente
Até não poder resistir
Na volta do barco é que sente
O quanto deixou de cumprir
Faz tempo que a gente cultiva
A mais linda roseira que há
Mas eis que chega a roda viva
E carrega a roseira pra lá
Roda mundo, roda-gigante
Roda moinho, roda pião

Writing musica.txt

In [5]:
%%writefile carros.csv
id,valor_venda,valor_manutencao,portas,pessoas,porta_malas
1,vhigh,med,2,2,small
2,med,vhigh,2,2,small
3,low,vhigh,2,2,small
4,low,high,2,2,small
5,low,high,2,2,small
6,low,high,4,4,big
7,low,high,4,4,big
8,low,med,2,2,small
9,low,med,2,2,small
10,low,med,2,2,small
11,low,med,4,4,big
12,low,low,2,2,small
13,low,low,4,4,small
14,low,low,4,4,med

Writing carros.csv

**1. Funções para arquivo csv**

Complete a função abaixo para extrair uma coluna do 
arquivo csv em uma lista. Os elementos
devem ter o tipo de dado correto.

In [7]:
coluna = []

with open(file='./carros.csv', mode='r', encoding='utf8') as arquivo:
    linha = arquivo.readline() # le a primeira linha
    while linha:
      coluna.append(linha)
      linha = arquivo.readline()
print(coluna)  

for linha in coluna:
  print(linha)

  # leia o arquivo com o comando 'with' utilizando o parametro 'nome_arquivo'
  # extraia a coluna do arquivo utilizando o parametro 'indice_coluna'
  # use a estrutura de decisão if/elif/else para fazer a conversão do tipo de dados utilizando o parametro 'tipo_dado'

['id,valor_venda,valor_manutencao,portas,pessoas,porta_malas\n', '1,vhigh,med,2,2,small\n', '2,med,vhigh,2,2,small\n', '3,low,vhigh,2,2,small\n', '4,low,high,2,2,small\n', '5,low,high,2,2,small\n', '6,low,high,4,4,big\n', '7,low,high,4,4,big\n', '8,low,med,2,2,small\n', '9,low,med,2,2,small\n', '10,low,med,2,2,small\n', '11,low,med,4,4,big\n', '12,low,low,2,2,small\n', '13,low,low,4,4,small\n', '14,low,low,4,4,med']
id,valor_venda,valor_manutencao,portas,pessoas,porta_malas

1,vhigh,med,2,2,small

2,med,vhigh,2,2,small

3,low,vhigh,2,2,small

4,low,high,2,2,small

5,low,high,2,2,small

6,low,high,4,4,big

7,low,high,4,4,big

8,low,med,2,2,small

9,low,med,2,2,small

10,low,med,2,2,small

11,low,med,4,4,big

12,low,low,2,2,small

13,low,low,4,4,small

14,low,low,4,4,med

In [23]:
#id = []
ids = []

with open(file='./carros.csv', mode='r', encoding='utf8') as arquivos:
  linha = arquivos.readline() #le cabeçalho
  linha = arquivos.readline() # le a primeira linha
  while linha:
    linhas_separada = linha.split(sep=',') # quebra a string nas virgulas e salva o resultado em uma lista
    id = linhas_separada[0] # seleciona o 1 elemento da lista
    id = int(id) # converte o valor de string para integer (inteiro)
    ids.append(id) # salva o valor na lista de idades
    linha = arquivos.readline() # le uma nova linha, se a linha nao existir, salva o valor none

    print(id)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

**2. Funções para arquivo txt**

Complete a função abaixo para extrair uma as palavras de 
uma linha do arquivo txt em uma
lista.

In [34]:
def extrai_linha_txt(nome_arquivo: str, numero_linha: int):
 palavras_linha = []
 # leia o arquivo com o comando 'with' utilizando o parametro -
 # - 'nome_arquivo'
 # extraia a linha do arquivo utilizando o parametro 'numero_linha'
 # quebre a linha em palavras com o comando split, -
 # - note que o separador é um espaço ' '
 return palavras_linha

In [35]:
linha10 = extrai_linha_txt(nome_arquivo='./musica.txt', numero_linha=10)
print(linha10)
# deve retornar ['Mas', 'eis', 'que', 'chega', 'a', 'roda', 'viva']

[]

In [30]:
escritas = []

with open(file='./musica.txt', mode='r', encoding='utf8') as leituras:
  with open(file='./musicas.csv', mode='w', encoding='utf8') as escritas:
    linha = leituras.readline()
    while linha:
      escritas.write(linha)
      linha = leituras.readline()